{
    "plugins": [
        [
            "wildcard",
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
}